@import "../../../scss/colors";
@import "../../../scss/vars";

$avatar-size: 3rem;
$avatar-size-mobile: 2rem;

:host {
  padding: 1rem 0;

  &:first-child {
    padding-top: 0;
  }
}

.content {
  position: relative;

  &.active {
    h2 {
      font-size: 2rem;
      margin: 0.5rem 0;
    }

    .description-wrapper {
      margin: 1rem 0;
    }

    .avatar {
      position: absolute;
      left: -($avatar-size + 2rem);
    }

    mat-accordion {
      margin-top: 1rem;
    }

    @media #{$media-mobile} {
      .avatar {
        left: 0;
        top: 0.5rem;
      }
      h2 {
        margin-left: $avatar-size-mobile + 1rem;
      }
    }
  }

  &.list-item {
    display: flex;
    // padding: 1rem 0;
    flex-direction: row;
    cursor: pointer;

    h2 {
      margin: 0;
    }

    .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .column {
      overflow: hidden;
    }

    @media #{$media-mobile} {
      .description {
        display: none;
      }
      .tag-chip {
        display: none;
      }
    }
  }
}

.avatar {
  margin-right: 1rem;
  width: $avatar-size;
  min-width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  background: $color-accent;
  text-align: center;
  line-height: $avatar-size;
  color: $color-accent-contrast;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$media-mobile} {
    width: $avatar-size-mobile;
    min-width: $avatar-size-mobile;
    height: $avatar-size-mobile;
    line-height: $avatar-size-mobile;
  }
}

.column {
  flex-grow: 1;
}

.description-wrapper {
  position: relative;

  &.saving {
    opacity: 0.5;
  }

  .controls {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: .5rem;
    }
  }

  .edit-description-button {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    opacity: 0;
    transition: opacity 200ms;
  }

  .mat-form-field {
    width: 100%;
  }

  &:hover {
    .edit-description-button {
      opacity: 1;
    }
  }
}

mat-chip {
  cursor: pointer;
  mat-icon {
    margin-right: 0.5rem;
  }
}

.aka-name-list {
  width: 100%;

  mat-chip {
    margin-right: 1rem;
  }

  mat-form-field {
    margin-left: 0.5rem;
  }
}

.note-list {
  .note {
    margin-bottom: 2rem;

    .description-wrapper {
      margin: 0;
    }

    .label {
      span {
        vertical-align: middle;
      }
      mat-icon,
      mat-chip {
        vertical-align: middle;
        margin: 0 0.5rem;
      }
    }
    .username {
      text-align: right;
      width: 100%;
    }
  }
}
