@import "../../../scss/colors";

:host.list-item {
  padding: 1rem 0;

  &:first-child {
    padding-top: 0;
  }
}

.list-item-content {
  display: flex;
  // padding: 1rem 0;
  flex-direction: row;

  h2 {
    margin: 0;
  }

  .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-chip {
    cursor: pointer;
  }

  .column {
    overflow: hidden;
  }
}

.screen-content {
  position: relative;

  h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  .description {
    margin: 1rem 0;
  }

  .avatar {
    position: absolute;
    right: 100%;
  }

  mat-accordion {
    margin-top: 1rem;
  }
}

$avatar-size: 3rem;

.avatar {
  margin-right: 1rem;
  width: $avatar-size;
  min-width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  background: $color-accent;
  text-align: center;
  line-height: $avatar-size;
  color: $color-accent-contrast;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-grow: 1;
}

mat-chip {
  mat-icon {
    margin-right: 0.5rem;
  }
}

.aka-name-list {
  width: 100%;

  mat-chip {
    margin-right: 1rem;
  }

  mat-form-field {
    margin-left: 0.5rem;
  }
}

.note-list {
  .note {
    margin-bottom: 2rem;

    .description {
      margin: 0;
    }

    .label {
      span {
        vertical-align: middle;
      }
      mat-icon,
      mat-chip {
        vertical-align: middle;
        margin: 0 0.5rem;
      }
    }
    .username {
      text-align: right;
      width: 100%;
    }
  }
}
